---
import Footer from "@components/Footer.astro";
import Grid from "@components/Grid.astro";
import Header from "@components/Header.astro";
import Layout from "@layouts/Layout.astro";
import Copy from "@pages/__copy__.mdx";

const tempHeroImage =
  "https://images.unsplash.com/photo-1688909906484-738d78601884?q=80&w=2400&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D";

const tempLocationImage =
  "https://upload.wikimedia.org/wikipedia/commons/c/c3/1_san_remo_victoria_aerial_pano_2021.jpg";
---

<Layout>
  <Header slot="header" />
  <main id="main-content">
    <section class="enter mb-4 w-full">
      <div
        class="hero-image h-[860px] max-h-[50vh] w-full rounded-md bg-skin-inverted bg-cover bg-center sm:max-h-[60vh]"
        style=`background-image: url(${tempHeroImage})`
      >
      </div>
    </section>
    <section id="hero">
      <!-- <p id="overline">ShortestPathLab @ Monash University</p> -->
      <div class="flex flex-col items-start justify-between gap-4 md:flex-row">
        <div>
          <h1 class="enter">
            Australian planning and optimisation summer school <span
              class="text-skin-accent">2025</span
            >
          </h1>
          <p class="enter animation-delay-[300ms]" id="tagline">
            San Remo Bay, Melbourne, Australia
          </p>
        </div>
      </div>
    </section>
    <section>
      <div
        class="my-12 border-b-[1px] border-t-[1px] border-skin-fill/20 py-16 @container"
      >
        <h2 class="mb-4 text-xl">
          Learn cutting-edge planning and optimisation
        </h2>
        <div class="flex flex-col gap-8 @2xl:flex-row">
          <div class="flex-1">
            <div class="prose mb-8 w-full leading-6"><Copy /></div>
            <button
              class="min-w-max rounded-md bg-skin-accent px-4 py-2 text-sm text-skin-inverted text-white transition-opacity hover:opacity-50"
              >Submit an expression of interest</button
            >
          </div>
          <div class="flex-0 @2xl:w-max">
            {
              [
                {
                  label: "Where",
                  image: tempLocationImage,
                  value:
                    "Silverwater Resort, San Remo Bay, Melbourne, Australia",
                },
                { label: "When", value: "3-7th November 2025" },
              ].map(({ label, value, image }) => (
                <div class="mb-2 rounded-md bg-skin-inverted/5 p-4">
                  {image && (
                    <div
                      style={`background-image: url(${image})`}
                      class="mb-4 h-32 w-full rounded-md bg-cover bg-center"
                    />
                  )}
                  <h3 class="mb-1 text-sm font-medium">{label}</h3>
                  <p class="text-sm">{value}</p>
                </div>
              ))
            }
          </div>
        </div>
      </div>
    </section>
    <section id="featured" class="mb-24 mt-24">
      <h1 class="mb-8 text-xl">On this site</h1>
      <Grid class="gap-2">
        {
          Array.from({ length: 3 })
            .map((_, i) => ({
              title: ["Program", "Personel", "Contact"][i % 3],
              description: [
                "View program schedule.",
                "See our organisers and featured speakers.",
                "Etc etc.",
              ][i % 3],
            }))
            .map(({ title, description }) => (
              <div class="mb-4 flex cursor-pointer flex-col gap-2 rounded-md bg-skin-inverted/5 p-4 transition-opacity hover:opacity-50">
                <h2 class="pr-4">{title}</h2>
                <p class="pr-4 text-sm"> {description}</p>
              </div>
            ))
        }
      </Grid>
    </section>
  </main>

  <Footer />
</Layout>

<style>
  html[data-theme="light"] .hero-image {
    @apply invert;
  }

  #hero {
    @apply mt-12 sm:mt-16;
  }
  #hero h1 {
    @apply inline-block text-4xl font-medium tracking-tight sm:text-6xl sm:leading-none;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero #overline {
    @apply max-w-xl text-sm font-normal opacity-70;
  }
  #hero #tagline {
    @apply mb-2 mt-2 max-w-xl font-normal sm:mt-6;
  }

  /* ===== Featured & Recent Posts Sections ===== */
</style>
