---
import { getCollection } from "astro:content";
import { format, parse } from "date-fns";
import ProgramEventCard from "./ProgramEventCard.astro";
import Grid from "./Grid.astro";

const programs = await getCollection("program");
---

<div>
  {
    programs.map(ps => (
      <>
        {ps.data.map(p => (
          <div class="sm:flex sm:gap-8">
            <h2 class="text-xl sm:sticky sm:top-12 sm:h-fit">
              {format(parse(p.date, "yyyy-MM-dd", new Date()), "do MMM")}
            </h2>
            <div class="my-3 flex-1 sm:-mt-1">
              {p.events.map(es => (
                <div class="flex gap-2">
                  <code class="my-3 w-16 flex-shrink-0 font-mono text-sm">
                    {es.time}
                  </code>
                  <div class="flex-1">
                    {!!(es.name || es.description) && (
                      <div class="my-2">
                        <ProgramEventCard
                          primary={es.name}
                          description={es.description}
                        />
                      </div>
                    )}
                    <Grid
                      class="my-2 gap-2"
                      width={
                        es.events.length > 1 ? 280 : Number.MAX_SAFE_INTEGER
                      }
                    >
                      {es.events.map(e => (
                        <ProgramEventCard
                          elevated={e.elevated}
                          image={e.image}
                          primary={e.name}
                          description={e.description}
                        />
                      ))}
                    </Grid>
                  </div>
                </div>
              ))}
            </div>
          </div>
        ))}
      </>
    ))
  }
</div>

<script>
  document.addEventListener("astro:page-load", () => {
    const observer = new IntersectionObserver(entries => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          entry.target.classList.add("enter");
          entry.target.classList.remove("invisible");
        }
      });
    });

    const hiddenElements = document.querySelectorAll(".animate-fadeIn");
    hiddenElements.forEach(element => {
      observer.observe(element);
    });
  });
</script>
